<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/login.css">
    <title>login</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   
   <div class="container">
        <div class="logo" ><a href=""><img class="logo" src="../img/V2.png" alt=""></a></div>
        <div class="form-box">
            <h2 class="ueberschrift">Anmelden</h2>
            <form action="/login" method="POST">
                <div class="input-box">
                    <i id="i" class="fa-regular fa-envelope"></i>
                    <input type="email" name="email" required placeholder=" E-Mail">
                </div>
                <div class="input-box">
                    <i id="ip" onclick="showandunshowPassword()" class="fa-regular fa-eye"></i>
                    <input id="password" type="password" name="password" required placeholder="Password">
                </div>
               
                <div class="input-box">
                    <button class="btn" type="submit">Anmelden</button>
                </div>
                <div class="regi-link">
                    <p>Du hast bereits ein Account ? <a class="link" href="/register">Registrieren</a></p>
                </div>
            </form>


            <h4 id="hinweis">{{messages.error}}</h4>
        </div>
 <footer><small>&copy; Copyright 2024, Vincenzo, Lamanuzzi & Mahmoud, Khalaf</small></footer>
    <script src="../Js/login.js"></script>
</body>
</html>