<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory</title>
    <link rel="stylesheet" href="css/Memory.css">
</head>
<body oncontextmenu="return false"> 
    <canvas id="confetti"></canvas>
    <nav>
        
        <h1>Memory Spiel</h4>
        <ul>
         
            <li><a href="/">Zurück</a></li>
            <li><a href="/Setwaehlen">Set Auswählen</a></li>
            {{#if a}}
                <li><a href="/Setbearbeiten">Sets bearbeiten</a></li>
           {{/if}}
            
     
        </ul>
    </nav>
    <dir class="cover2">
     <span class="loader"></span>
    </dir>
    <input type="hidden" id="Sets"  value="{{Set}}">
    <audio id="audio1" style="display:none;"></audio>
    <audio id="audio2" style="display:none;"></audio>
    <audio id="audio3" style="display:none;"></audio>
    <audio id="audio4" style="display:none;"></audio>
    <div class="Container">
     <div class="cover dnone" ></div>
    </div>

<script src="Js/Memory.js"></script>
</body>
</html>

