<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <title>Register</title>
</head>

<body>


    <div class="container">
        <div class="curved-shape"></div>
        <div class="form-box Login">
            <h2>Registrieren </h2>
            <form action="/register" method="POST">
                <div class="input-box">
                    <label for="email">E-Mail</label>
                    <input type="email" name="email" required>
                </div>
                <div class="input-box">
                    <label for="passport">Password</label>
                    <input type="password" name="password" required>
                </div>
                <div class="input-box">
                    <label for="teams">Teams</label>
                    <select id="teams" name="team_id">
                        <option value="3">Klinge</option>
                        <option value="4">OTM</option>
                        <option value="5">Rest</option>
                    </select>   
                </div>
                <div class="input-box">
                    <label for="name">nickname</label>
                    <input type="text" name="nickname" required>
                </div>
                  <div class="input-box">
                    <label for="vorname">Vorname</label>
                    <input type="vorname" name="vorname" required>
                </div>
                  <div class="input-box">
                    <label for="nachname">Nachname</label>
                    <input type="nachname" name="nachname" required>
                </div>
                <div class="input-box">
                    <button class="btn" type="submit">Registrieren</button>
                </div>
                <div class="regi-link">
                    <p>Du hast bereits ein Account ? <a href="/login">Anmelden</a></p>
                </div>
            </form>

        </div>
        <h4>{{message}}</h4>
    </div>

    <script src="JS/register.js"></script>
</body>

</html>