<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seterstellen</title>

    <link rel="stylesheet" href="/css/Seterstellen.css">
</head>

<body>
    <nav>
        
        <h1>Editor</h1>
        <ul>
         
            <li><a href="/Setbearbeiten">Zurück</a></li>
            <li><a href="/Setwaehlen">Set Auswählen</a></li>
            <li><a href="/">Startseite</a></li>
     
        </ul>
    </nav>


   

        <form id="FormMemorySeterstellen" method="post" action="/MemorySetErstellen">

        <input name="setID" id="setID" value="" type="hidden">
            
            <div id="setTitelErstellen"> 
            <h1 id="UEBerschrift">Neues Lernset erstellen</h1>
            
            <input  type="text" id="NameSet" name="NameSet" value="" placeholder="Titel" class="InputTitel"><br>
            <label for="NameSet" class="labelTitel">Name Set</label>

            <!-- -->
            <input  type="text" id="ThemaSet" name="ThemaSet" value="" placeholder="Thema" class="InputTitel"><br>
            <label for="NameSet" class="labelTitel" id="ThemaSetLabel">Thema Set</label>
            <!-- -->
            <div id="buttonSetErstellen">

                <button onclick="checkFull()">Erstellen</button>

            </div>
            

        </div>

<div id="h2Überschriften">
       <div id="ZweiteÜberschrift1">
        
    <h2>Frage</h2>
    
</div>
<div id="ZweiteÜberschrift2">
        
    <h2>Antwort</h2>
    
</div>
</div>


<div id="formDiv">

        <div class="datensatzErstellen">
            
            <div class="Test1"> 
            <input  type="text"  name="Frage" value="" class="InputFrage">
        </div>
        <div class="Test2"> 
            <input  type="text"  name="Antwort" value="" class="InputAntwort"> <br>
        </div>
            <div class="Test3"> 
            <label for="Frage" class="labelFrage">Frage</label>
            </div>
            <div class="Test4"> 
            <label for="Antwort" class="labelAntwort">Antwort</label>
            </div>
            
        </div>



        <!-- -->


        <div class="datensatzErstellen">
            
            <div class="Test1"> 
            <input  type="text"  name="Frage1" value="" class="InputFrage">
        </div>
        <div class="Test2"> 
            <input  type="text"  name="Antwort1" value="" class="InputAntwort"> <br>
        </div>
            <div class="Test3"> 
            <label for="Frage1" class="labelFrage">Frage</label>
            </div>
            <div class="Test4"> 
            <label for="Antwort1" class="labelAntwort">Antwort</label>
            </div>
            
        </div>

        <div class="datensatzErstellen">
            
            <div class="Test1"> 
            <input  type="text"  name="Frage2" value="" class="InputFrage">
        </div>
        <div class="Test2"> 
            <input  type="text"  name="Antwort2" value="" class="InputAntwort"> <br>
        </div>
            <div class="Test3"> 
            <label for="Frage2" class="labelFrage">Frage</label>
            </div>
            <div class="Test4"> 
            <label for="Antwort2" class="labelAntwort">Antwort</label>
            </div>
            
        </div>

        <div class="datensatzErstellen">
            
            <div class="Test1"> 
            <input  type="text"  name="Frage3" value="" class="InputFrage">
        </div>
        <div class="Test2"> 
            <input  type="text"  name="Antwort3" value="" class="InputAntwort"> <br>
        </div>
            <div class="Test3"> 
            <label for="Frage3" class="labelFrage">Frage</label>
            </div>
            <div class="Test4"> 
            <label for="Antwort3" class="labelAntwort">Antwort</label>
            </div>
            
        </div>

        <div class="datensatzErstellen">
            
            <div class="Test1"> 
            <input  type="text"  name="Frage4" value="" class="InputFrage">
        </div>
        <div class="Test2"> 
            <input  type="text"  name="Antwort4" value="" class="InputAntwort"> <br>
        </div>
            <div class="Test3"> 
            <label for="Frage4" class="labelFrage">Frage</label>
            </div>
            <div class="Test4"> 
            <label for="Antwort4" class="labelAntwort">Antwort</label>
            </div>
            
        </div>

        <div class="datensatzErstellen">
            
            <div class="Test1"> 
            <input  type="text"  name="Frage5" value="" class="InputFrage">
        </div>
        <div class="Test2"> 
            <input  type="text"  name="Antwort5" value="" class="InputAntwort"> <br>
        </div>
            <div class="Test3"> 
            <label for="Frage5" class="labelFrage">Frage</label>
            </div>
            <div class="Test4"> 
            <label for="Antwort5" class="labelAntwort">Antwort</label>
            </div>
            
        </div>

        <div class="datensatzErstellen">
            
            <div class="Test1"> 
            <input  type="text"  name="Frage6" value="" class="InputFrage">
        </div>
        <div class="Test2"> 
            <input  type="text"  name="Antwort6" value="" class="InputAntwort"> <br>
        </div>
            <div class="Test3"> 
            <label for="Frage6" class="labelFrage">Frage</label>
            </div>
            <div class="Test4"> 
            <label for="Antwort6" class="labelAntwort">Antwort</label>
            </div>
            
        </div>

        <div class="datensatzErstellen">
            
            <div class="Test1"> 
            <input  type="text"  name="Frage7" value="" class="InputFrage">
        </div>
        <div class="Test2"> 
            <input  type="text"  name="Antwort7" value="" class="InputAntwort"> <br>
        </div>
            <div class="Test3"> 
            <label for="Frage7" class="labelFrage">Frage</label>
            </div>
            <div class="Test4"> 
            <label for="Antwort7" class="labelAntwort">Antwort</label>
            </div>
            
        </div>

        <div class="datensatzErstellen">
            
            <div class="Test1"> 
            <input  type="text"  name="Frage8" value="" class="InputFrage">
        </div>
        <div class="Test2"> 
            <input  type="text"  name="Antwort8" value="" class="InputAntwort"> <br>
        </div>
            <div class="Test3"> 
            <label for="Frage8" class="labelFrage">Frage</label>
            </div>
            <div class="Test4"> 
            <label for="Antwort8" class="labelAntwort">Antwort</label>
            </div>
            
        </div>

        <div class="datensatzErstellen">
            
            <div class="Test1"> 
            <input  type="text"  name="Frage9" value="" class="InputFrage">
        </div>
        <div class="Test2"> 
            <input  type="text"  name="Antwort9" value="" class="InputAntwort"> <br>
        </div>
            <div class="Test3"> 
            <label for="Frage9" class="labelFrage">Frage</label>
            </div>
            <div class="Test4"> 
            <label for="Antwort9" class="labelAntwort">Antwort</label>
            </div>
            
        </div>





        <!---->
        
        
    </div>

    


          </form>


          <footer>
            
          </footer>


</body>
<script src="/Js/Seterstellen.js"></script>
</html>
