<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setwählen</title>

    <link rel="stylesheet" href="css/Setwaehlen.css">
</head>


<body>
    <nav>
        
        <h1>Editor</h1>
        <ul>
         
            <li><a href="/Memory">Zurück</a></li>
            <li><a href="/Setbearbeiten">Sets bearbeiten</a></li>
            <li><a href="/">Startseite</a></li>
     
        </ul>
    </nav>

    <h1 id="UEBerschrift" >Welches Set möchtest du spielen?</h1>
    <dir class="cover">
     <span class="loader"></span>
    </dir>
   
    <div id="SetsContainer">

        
<!-- 

        <div  class="Set" onclick="MemoryOEffnen()">
            <div class="SetUeberschrift">
            <p >WiSo Set</p>
        </div>
        </div>

        <div  class="Set">
            <div class="SetUeberschrift">
            <p >Hardware Set</p>
        </div>
        </div>

        <div  class="Set">
            <div class="SetUeberschrift">
            <p >LF5 Set</p>
        </div>
        </div>
        -->

        <!-- Ein Set darf maximal 19 zeichen haben als namen-->

<!-- alle divs hier drunter können weg-->

<!--


 <div  class="Set">
    <div class="SetUeberschrift">
    <p >LF5 Set</p>
</div>
</div>        <div  class="Set">
    <div class="SetUeberschrift">
    <p >LF5 Set</p>
</div>
</div>        <div  class="Set">
    <div class="SetUeberschrift">
    <p >LF5 Set</p>
</div>
</div>        <div  class="Set">
    <div class="SetUeberschrift">
    <p >LF5 Set</p>
</div>
</div>        <div  class="Set">
    <div class="SetUeberschrift">
    <p >LF5 Set</p>
</div>
</div>        <div  class="Set">
    <div class="SetUeberschrift">
    <p >LF5 Set</p>
</div>
</div>        <div  class="Set">
    <div class="SetUeberschrift">
    <p >LF5 Set</p>
</div>
</div>        <div  class="Set">
    <div class="SetUeberschrift">
    <p >LF5 Set</p>
</div>
</div>        <div  class="Set">
    <div class="SetUeberschrift">
    <p >LF5 Set</p>
</div>
</div>

 -->

        
        
    </div>

    <script src="Js/Setwaehlen.js"></script>
</body>

</html>
