<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>

    <link rel="stylesheet" href="css/Start.css">
</head>


<body>
    
    <h1>Was möchtest du heute spielen?</h1>

    <div id="Spiele">





    <div id="Spiel1" class="SpieleButton" >
        <a href="/Memory">         
    <div class="TexteDiv">
        <h2 id="UeberschriftSpiel1">Memory</h2>
        <P class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</P>
   
    </div>  

        <img src="/img/Memory.jpeg" alt="" width="250" height="250" class="foto">

    </a>
    </div>





    <div id="Spiel2" class="SpieleButton" >
     <div class="cover2" onmouseover="show('cover2')" onmouseout="hide('cover2')">in Bearbeitung</div>   

    <div class="TexteDiv" >
        <h2 id="UeberschriftSpiel1">Karteikarten</h2>
        <P class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</P>
   
    </div>  

        <img src="/img/Karteikarten .png" alt="" width="250" height="250" class="foto">

        
    </div>




    <div id="Spiel3" class="SpieleButton" >
    <div class="cover3" onmouseover="show('cover3')" onmouseout="hide('cover3')">in Bearbeitung</div>
        <div class="TexteDiv" >
            <h2 id="UeberschriftSpiel1">Quiz</h2>
            <P class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</P>
       
        </div>  
    
            <img src="/img/Quiz.jfif" alt="" width="250" height="250" class="foto">
    
            
        </div>





</div>


    <footer>

        <p class="text">Created by: Mahmoud Khalaf & Luis Bittner</p>
        <h3>{{m}}</h3>
         <h3>{{s}}</h3>
         {{#if messages.success}}
    <div class="alert alert-success">
        {{messages.success}}
    </div>
{{/if}}
        <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Logout</button>
</form>

    </footer>

</body>
<script src="JS/Start.js"></script>
</html>