<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/style.css">
</head>


<body>
    <h1>Datenbank</h1>
    <div> 
        <form action="/delete" method="post">

            <label for="befehl"> Frage: </label> <input type="text" name="befehl"> <br><br>
           
            
            
            <button type="submit"> delete </button>

        </form>
       
        
    </div>
    <br>  <br>  <br>  <br>  <br>    
    <div>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Frage</th>
            <th>Antwort</th>
            <th>SetID</th>
        </tr>
        {{#each karten}}
            <tr>
                <td>{{this.ID}}</td>
                <td>{{this.Frage}}</td>
                <td>{{this.Antwort}}</td>
                <td>{{this.Set_ID}}</td>
            </tr>
        {{/each}}
    </table>

    </div>
</body>
</html>

