* {
    padding: 0;
    margin: 0;
}



body, html {
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    background-color: white;
    background-color: rgb(148, 148, 148);
    
    overflow: auto;

}

h1{
    color: white;
}

 #UEBerschrift{
    /* margin-top: 2%; */
    color: rgb(0, 0, 0);
    font-size: 4vh;
    padding-bottom: 1%;
    padding-top: 1%;
    /* text-align: center; */
    margin-left: 2%;
    
} 

nav{
    background-color: #111111;
    
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    /* border-radius: 5px; */
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
   
   text-decoration: none;
   font-weight: bold;
   padding: 5px 8px;
   color: #fff;
}

nav li a:hover {
    color: #f7ce00;
    text-decoration: none;
 
 }

#setTitelErstellen{

    position: relative;
    background-color: rgb(216, 67, 67);
    background-color: white;
    

    height: 20vh;
    width: 100vw;
    
    
    


}

#formDiv{

    background-color: rgb(80, 2, 2);
    background-color: blueviolet;
    background-color: rgb(148, 148, 148);
    height: 80%;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 6vh;
    padding-bottom: 2%;


    
}

.InputTitel{

    width: 30vw;
    height: 4vh;
    margin-left: 2%;
}

.labelTitel{
    margin-left: 2%;
    font-size: 2.5vh;
    
}

#ThemaSet{
    position: absolute;
    /*top: 40%;  */
    top: 8vh;
    right: 30vw;

}
#ThemaSetLabel{
    position: absolute;
    top: 12.5vh;
    right: 54vw;
    /* right: 30vw; */
}

input{
    width: 30vw;
    height: 4vh;
}
#buttonSetErstellen{
    position: absolute;
    right: 5vw;
    top: 6.5vh;
}


h2{

}
#h2Überschriften{
    position: relative;
    background-color: #f7ce00;
    
    
}
#ZweiteÜberschrift1{
    position: absolute; 
    display: inline-block;
    left: 23.5vw;
    
}
#ZweiteÜberschrift2{
    position: absolute; 
    display: inline-block;
    right: 23.5vw;
}
h2{
    font-size: 3.5vh;
}

.datensatzErstellen{
    width: 100%;
    height: 9vh;
    position: relative;
    background-color: #f7ce00;
    background-color: white;
    margin-top: 2%;

}

.InputFrage, .InputAntwort{

    margin-top: 1.5%;

}

.labelFrage, .labelAntwort{

    font-size: 2vh;
}

.InputFrage, .labelFrage{

}

.InputAntwort, .labelFrage{

}

.Test1{
    position: absolute;
    left: 2%;
    top: 10%;
}
.Test2{
    position: absolute;
    right: 2%;
    top: 10%;
}
.Test3{
    position: absolute;
    bottom: 2%;
    left: 4%;
}
.Test4{
    position: absolute;
    bottom: 2%;
    right: 33%;
}






  /*
button{

    height: 6vh;
    width: 6vw;
    font-size: 150%;
                

}*/




button {
    display: inline-block;
  
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
    height: 7vh;
    width:7vw;
    font-size: 90%;
    
  }
  
  button:active {
    top: 0.1em;
  }
  

  